body {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    align-self: center;
}

button {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-top: 100px;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 6px;
    background-color: rgba(27, 6, 65, 0.5);
    font-weight: bold;
    font-size: large;
    color: aliceblue;
    box-shadow:  1, -2, 3, rgba(0, 0, 1, 0.7) ;
}

button:hover {
    cursor: pointer;
    background-color: rgba(27, 6, 55, 0.1);
    transition: ease-in-out;
}